// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Navigation Simple

.navbar-simple .brand {
 	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-simple .navbar-inner {
	background: #fff;
	filter: none !important;
	box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-simple .navbar-inner .nav {
	float: right;
}
.navbar-simple .navbar-inner .nav li a {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #777;
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
}
.navbar-simple .navbar-inner .nav li a:hover {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #bf3604;
}		
.navbar-simple .navbar-inner .nav li.active a {
	color: #bf3604;
}

// Navigation Bar Harvest

.navbar-harvest .navbar-inner {
  	background: #f36c00;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f68a28), color-stop(100%, #f36c00));
	background: -webkit-linear-gradient(top, #f68a28,#f36c00);
	background: -moz-linear-gradient(top, #f68a28,#f36c00);
	background: -o-linear-gradient(top, #f68a28,#f36c00);
	background: -ms-linear-gradient(top, #f68a28,#f36c00);
	background: linear-gradient(top, #f68a28,#f36c00);
}	
.navbar-harvest .navbar-inner .nav {
	float: right;
}	
.navbar-harvest .brand {
	color: #fff;
	text-shadow: none;
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar-harvest .navbar-inner .nav li a {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	text-shadow: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: background 0.1s linear,opacity 0.1s linear;
	-moz-transition: background 0.1s linear,opacity 0.1s linear;
	-ms-transition: background 0.1s linear,opacity 0.1s linear;
	-o-transition: background 0.1s linear,opacity 0.1s linear;
	transition: background 0.1s linear,opacity 0.1s linear;
	-webkit-font-smoothing: antialiased;			
	opacity: .9;
	font-weight: 600;
}
.navbar-harvest .navbar-inner .nav li a:hover {
	background: #f67d0f;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
	opacity: 1;
}

// Navigation Unitrade

$ocean-color-stop1: #4ab2bf;
$ocean-color-stop2: #84ced7; 

.navbar-ocean .navbar-inner {
  	background: #f36c00;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $ocean-color-stop1), color-stop(100%, $ocean-color-stop2));
	background: -webkit-linear-gradient(top, $ocean-color-stop1,$ocean-color-stop2);
	background: -moz-linear-gradient(top, $ocean-color-stop1,$ocean-color-stop2);
	background: -o-linear-gradient(top, $ocean-color-stop1,$ocean-color-stop2);
	background: -ms-linear-gradient(top, $ocean-color-stop1,$ocean-color-stop2);
	background: linear-gradient(top, $ocean-color-stop1,$ocean-color-stop2);
}	
.navbar-ocean .navbar-inner .nav {
	float: right;
}	
.navbar-ocean .brand {
	color: #fff;
	text-shadow: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-ocean .icon-bar{
        background-color: #fff;
}



.navbar-ocean button{
        margin-bottom: 15px;
        border-color: #fff;
}

.navbar-ocean .navbar-inner .nav li a {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	text-shadow: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: background 0.1s linear,opacity 0.1s linear;
	-moz-transition: background 0.1s linear,opacity 0.1s linear;
	-ms-transition: background 0.1s linear,opacity 0.1s linear;
	-o-transition: background 0.1s linear,opacity 0.1s linear;
	transition: background 0.1s linear,opacity 0.1s linear;
	-webkit-font-smoothing: antialiased;			
	opacity: .9;
	font-weight: 600;
}
.navbar-ocean .navbar-inner .nav li a:hover {
	background: $ocean-color-stop2;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
	opacity: 1;
}
